.header__logo {
  padding-top: 45px;
}

@media screen and (max-width:768px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width:425px) {
  .header__logo {
    padding: 28px;
  }
}
