.card__like {
  display: block;
  border: 0;
  background-color: transparent;
  background-image: url(../../../images/like-disabled.svg);
  width: 22px;
  height: 19px;
  background-size: cover;
  cursor: pointer;
  transition: background-image 250ms ease;
}

.card__like:hover {
  background-image: url(../../../images/like-hover.svg);
}
