.header {
  padding-bottom: 41px;
  position: relative;
  border-bottom: 1px solid #545454;
  box-sizing: border-box;
}

@media screen and (max-width:425px) {
  .header {
    padding-bottom: 31px;
  }
}
